body {
  margin: 0;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 900;
  background-color: #f5f5f7;
}

.mainContainer{
  color: #121212;
  padding: 20px;
}

.header{
  text-align: center;
  margin: 50px 0;
}

.content{
  display: flex;
  justify-content: center;
}

.underText{
  font-weight: normal;
}

.homeSection{
  width: 15em;
  height: 25em;
  transition: all 0.5s;
  margin: 30px;
  padding: 30px;
  border-radius: 10px;
}

.chatgpt-section:hover{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transform: scale(1.02);
}

.chatgpt-section{
  background-color: #ffffff;
  cursor: pointer;
  transition: 0.2s all;
}

.api-section{
  background-color: #1d1d1f;
  color: #ffffff;
  cursor: pointer;
  transition: 0.2s all;
}

.api-section:hover{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transform: scale(1.02);
}

.lottie-animation {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: -1;

}

.card{
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.p-button{
  background-color: #1d1d1f;
}

.headingUpload{
  text-align: center;
  margin-bottom: 50px;
}

.loadingScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
}

.lottie-loading-animation {
  width: 400px; /* Adjust as needed */
  height: 400px; /* Adjust as needed */
}

.loadingScreen {
  transition: opacity 1s ease-in-out;
}

.lottie-bot-animation{
  width: 700px;
  height: 700px;
}

.bot-animation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-button-danger{
  background-color: #ef4444;
}

.talk{
  margin-bottom: 5px;
}

.diaryChose{
  background-color: transparent;
}

.diaryArea{
  height: 60vh;
}

.innerSpotify{
  border-radius: 15px;
  width: 50vw;
  height: 60vh;
}